
<%= render 'shared/blog_jumbotron' %>
<div class="col-sm-8 blog-main">
    <%= render partial: 'blog_item', collection: @blogs.order('created_at DESC') %>

</div>

<%= render 'shared/blog_sidebar' %>
<div class="card paginate-card">
    <%= paginate @blogs, theme: 'twitter-bootstrap-4' %>
</div>
