<div class="jumbotron jumbotron-fluid blog_jumbo">
    <div class="container">
        <h1 class="display-3">CHANCE BEASLEY</h1>

        <% if current_user.admin %>
            <%= link_to "New",  new_blog_path, class: "btn btn-block btn-primary" %>
        <% end %>
    </div>
</div>
<div class="col-md-10">
    <%= render partial: 'blog_item', collection: @blogs %>
</div>
