<div class="comment-card">
    <div class="card">
        <div class="card-block">
            <div class="row">

                <div class="col-md-2">
                    <span class="comment-name"> <%= comment.user.name %></span><br />
                </div>
                <div class="col-md-10">
                    <span class="comment-content"><%= markdown comment.content %></span>
                </div>
            </div>
        </div>
    </div>
</div>
