
<div class="col-md-3  blog-sidebar">
    <div class='card sidebar_card'>
        <div class="sidebar-module sidebar-module-inset">
            <h4 class= "sidebar-title">Sponsors</h4>
            <hr>
            <div class= 'sidebar-title'>Ruby</div>
        </div>
    </div>


    <div class='card sidebar_card'>
        <div class="sidebar-module">
            <h4 class= "sidebar-title">Topics</h4>
            <hr>
        </div>
    </div>


    <div class='card sidebar_card'>
        <div class="sidebar-module">
            <h4 class= "sidebar-title">Elsewhere</h4>
            <hr>
            <ol class="list-unstyled social-links">
            </ol>
        </div>
    </div>
</div>
