
<nav class="navbar navbar-toggleable-md navbar-light bg-faded blog-nav app-nav">
    <button class="navbar-toggler navbar-toggler-right button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon nav-button"></span>
    </button>
    <span class="brand-nav" >ChanceBeasley</span>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <%= nav_helper 'nav-link', 'span' %>
        <%= login_helper 'nav-link' %>
    </div>
</nav>
