<div class="col-md-12">
    <div class="about-card">
        <div class="card about">
                <%= image_tag "chanceprofile.jpg", alt: "chance", id: 'chanceprofile' %>
            
        </div>
    </div>
</div>
