
<div class="card about">

        <%= image_tag "chanceprofile.jpg", width: "600px", height: "550px", alt: "chance", id: 'chanceprofile' %>
        <div class="card about-text">
            <p class="about-info" >My name is Chance Beasley and I have been riding DirtBikes since I was 3 years old. From the day I got my first bike to even now, the passion has not faded. I am more detirmend now then I have ever been to grow my skills as a racer.
            </p>
        </div>
</div>
