

<div class="container">

    <div class="row marketing">
        <div class="col-lg-6">

            <div class="card contact">
                <%= link_to 'Facebook', "https://www.facebook.com/chance.beasley.35?ref=br_rs", class: "btn btn-primary" %>
            </div>
            <div class="card contact">
                <%= link_to 'Instagram', "https://www.instagram.com/motobeast647/", class: "btn btn-danger" %>
           </div>
        </div>

        <div class="col-lg-6">
            <div class="card contact">
                <%= link_to 'Twitter', "https://twitter.com/motobeast_647", class: "btn btn-danger" %>
            </div>
            <div class="card contact">
            </div>
        </div>
    </div>
</div>
