@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
/* Space out content a bit */

body {
}

/* background image */

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: image-url('chance.jpg') no-repeat;
    background-size: cover;
}
.title {
    font-family: "brush script m7";
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Custom page header */
.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}

/* Custom page footer */
.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
    .container {
        max-width: 46rem;
    }
}
.container-narrow > hr {
    margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
    margin-top: 10px;
}
.jumbotron .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
    margin: 3rem 0;
}
.marketing p + h4 {
    margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 2rem;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* Nav links */
.blog-nav {
    background-color: rgba(0, 0, 0, 0.80)
}
.nav-link {
    margin-left: 5px;
    margin-top: 10px;
    position: relative;
    padding: 1rem;
    font-weight: 900;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.50),
    -1px 1px 0 rgba(0, 0, 0, 0.50),
    1px -1px 0 rgba(0, 0, 0, 0.50),
    -1px -1px 0 rgba(0, 0, 0, 0.50),
    0px 1px 0 rgba(0, 0, 0, 0.50),
    0px -1px 0 rgba(0, 0, 0, 0.50),
    -1px 0px 0 rgba(0, 0, 0, 0.50),
    1px 0px 0 rgba(0, 0, 0, 0.50),
    2px 2px 0 rgba(0, 0, 0, 0.50),
    -2px 2px 0 rgba(0, 0, 0, 0.50),
    2px -2px 0 rgba(0, 0, 0, 0.50),
    -2px -2px 0 rgba(0, 0, 0, 0.50),
    0px 2px 0 rgba(0, 0, 0, 0.50),
    0px -2px 0 rgba(0, 0, 0, 0.50),
    -2px 0px 0 rgba(0, 0, 0, 0.50),
    2px 0px 0 rgba(0, 0, 0, 0.50),
    1px 2px 0 rgba(0, 0, 0, 0.50),
    -1px 2px 0 rgba(0, 0, 0, 0.50),
    1px -2px 0 rgba(0, 0, 0, 0.50),
    -1px -2px 0 rgba(0, 0, 0, 0.50),
    2px 1px 0 rgba(0, 0, 0, 0.50),
    -2px 1px 0 rgba(0, 0, 0, 0.50),
    2px -1px 0 rgba(0, 0, 0, 0.50),
    -2px -1px 0 rgba(0, 0, 0, 0.50);
}
.nav-link:hover,
.nav-link:focus {
    color: #fff;
    background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
    color: #fff;
}
h4 {
    color: white;
    padding: 15px;

    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.50),
    -1px 1px 0 rgba(0, 0, 0, 0.50),
    1px -1px 0 rgba(0, 0, 0, 0.50),
    -1px -1px 0 rgba(0, 0, 0, 0.50),
    0px 1px 0 rgba(0, 0, 0, 0.50),
    0px -1px 0 rgba(0, 0, 0, 0.50),
    -1px 0px 0 rgba(0, 0, 0, 0.50),
    1px 0px 0 rgba(0, 0, 0, 0.50),
    2px 2px 0 rgba(0, 0, 0, 0.50),
    -2px 2px 0 rgba(0, 0, 0, 0.50),
    2px -2px 0 rgba(0, 0, 0, 0.50),
    -2px -2px 0 rgba(0, 0, 0, 0.50),
    0px 2px 0 rgba(0, 0, 0, 0.50),
    0px -2px 0 rgba(0, 0, 0, 0.50),
    -2px 0px 0 rgba(0, 0, 0, 0.50),
    2px 0px 0 rgba(0, 0, 0, 0.50),
    1px 2px 0 rgba(0, 0, 0, 0.50),
    -1px 2px 0 rgba(0, 0, 0, 0.50),
    1px -2px 0 rgba(0, 0, 0, 0.50),
    -1px -2px 0 rgba(0, 0, 0, 0.50),
    2px 1px 0 rgba(0, 0, 0, 0.50),
    -2px 1px 0 rgba(0, 0, 0, 0.50),
    2px -1px 0 rgba(0, 0, 0, 0.50),
    -2px -1px 0 rgba(0, 0, 0, 0.50);
}
p {
    color: white;
    padding: 15px;
    padding-top: 0px;

    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.50),
    -1px 1px 0 rgba(0, 0, 0, 0.50),
    1px -1px 0 rgba(0, 0, 0, 0.50),
    -1px -1px 0 rgba(0, 0, 0, 0.50),
    0px 1px 0 rgba(0, 0, 0, 0.50),
    0px -1px 0 rgba(0, 0, 0, 0.50),
    -1px 0px 0 rgba(0, 0, 0, 0.50),
    1px 0px 0 rgba(0, 0, 0, 0.50),
    2px 2px 0 rgba(0, 0, 0, 0.50),
    -2px 2px 0 rgba(0, 0, 0, 0.50),
    2px -2px 0 rgba(0, 0, 0, 0.50),
    -2px -2px 0 rgba(0, 0, 0, 0.50),
    0px 2px 0 rgba(0, 0, 0, 0.50),
    0px -2px 0 rgba(0, 0, 0, 0.50),
    -2px 0px 0 rgba(0, 0, 0, 0.50),
    2px 0px 0 rgba(0, 0, 0, 0.50),
    1px 2px 0 rgba(0, 0, 0, 0.50),
    -1px 2px 0 rgba(0, 0, 0, 0.50),
    1px -2px 0 rgba(0, 0, 0, 0.50),
    -1px -2px 0 rgba(0, 0, 0, 0.50),
    2px 1px 0 rgba(0, 0, 0, 0.50),
    -2px 1px 0 rgba(0, 0, 0, 0.50),
    2px -1px 0 rgba(0, 0, 0, 0.50),
    -2px -1px 0 rgba(0, 0, 0, 0.50);
}
.lead {
    color: white;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.50);
}
.contact {
    margin: 8px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.50);
}
.app-nav {
    background-color: rgba(0, 0, 0, 0.65)
}

.app-nav span {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.app-nav .brand-nav  {
color: white;
font-family: "Gloria Hallelujah";
font-size: 2.5em;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.50),
    -1px 1px 0 rgba(0, 0, 0, 0.50),
    1px -1px 0 rgba(0, 0, 0, 0.50),
    -1px -1px 0 rgba(0, 0, 0, 0.50),
    0px 1px 0 rgba(0, 0, 0, 0.50),
    0px -1px 0 rgba(0, 0, 0, 0.50),
    -1px 0px 0 rgba(0, 0, 0, 0.50),
    1px 0px 0 rgba(0, 0, 0, 0.50),
    2px 2px 0 rgba(0, 0, 0, 0.50),
    -2px 2px 0 rgba(0, 0, 0, 0.50),
    2px -2px 0 rgba(0, 0, 0, 0.50),
    -2px -2px 0 rgba(0, 0, 0, 0.50),
    0px 2px 0 rgba(0, 0, 0, 0.50),
    0px -2px 0 rgba(0, 0, 0, 0.50),
    -2px 0px 0 rgba(0, 0, 0, 0.50),
    2px 0px 0 rgba(0, 0, 0, 0.50),
    1px 2px 0 rgba(0, 0, 0, 0.50),
    -1px 2px 0 rgba(0, 0, 0, 0.50),
    1px -2px 0 rgba(0, 0, 0, 0.50),
    -1px -2px 0 rgba(0, 0, 0, 0.50),
    2px 1px 0 rgba(0, 0, 0, 0.50),
    -2px 1px 0 rgba(0, 0, 0, 0.50),
    2px -1px 0 rgba(0, 0, 0, 0.50),
    -2px -1px 0 rgba(0, 0, 0, 0.50);
}
.login-card {
    margin-top: 35px;
    margin-left: 10%;
    margin-right: 10%;
}
.display-3 {
    color: white;
    font-family: "Gloria Hallelujah";
    font-size: 7em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.50),
    -1px 1px 0 rgba(0, 0, 0, 0.50),
    1px -1px 0 rgba(0, 0, 0, 0.50),
    -1px -1px 0 rgba(0, 0, 0, 0.50),
    0px 1px 0 rgba(0, 0, 0, 0.50),
    0px -1px 0 rgba(0, 0, 0, 0.50),
    -1px 0px 0 rgba(0, 0, 0, 0.50),
    1px 0px 0 rgba(0, 0, 0, 0.50),
    2px 2px 0 rgba(0, 0, 0, 0.50),
    -2px 2px 0 rgba(0, 0, 0, 0.50),
    2px -2px 0 rgba(0, 0, 0, 0.50),
    -2px -2px 0 rgba(0, 0, 0, 0.50),
    0px 2px 0 rgba(0, 0, 0, 0.50),
    0px -2px 0 rgba(0, 0, 0, 0.50),
    -2px 0px 0 rgba(0, 0, 0, 0.50),
    2px 0px 0 rgba(0, 0, 0, 0.50),
    1px 2px 0 rgba(0, 0, 0, 0.50),
    -1px 2px 0 rgba(0, 0, 0, 0.50),
    1px -2px 0 rgba(0, 0, 0, 0.50),
    -1px -2px 0 rgba(0, 0, 0, 0.50),
    2px 1px 0 rgba(0, 0, 0, 0.50),
    -2px 1px 0 rgba(0, 0, 0, 0.50),
    2px -1px 0 rgba(0, 0, 0, 0.50),
    -2px -1px 0 rgba(0, 0, 0, 0.50);
}

.button {
    background-color: white;
    margin-top: 10px;
}
