@import 'bootstrap'; 
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
body { 
}

#background {

    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: image-url('wallpaper.jpg') no-repeat;
    background-size: cover;
}

.card {
background-color: rgba(255, 255, 255, 0.35);
margin: 0 auto; padding: 0;
margin-bottom: 20px;
margin-top: 25px;
}


.card > h1 {
font-color: white;
}

.card > span {
text-align: center;
}

.card > h4 {
text-align: center;
}

.blogs {
margin: auto;
border: 2px solid white;

}

.image_link {
text-align: center;
padding: 15px;
margin-top: 15px;
max-width: '100%';
}

.card-title {
text-align: center;
color: white;
}
.show_image {
margin-top: 30px;
}


.blog-title {
text-align: center;
}

.blogs {
text-align: center;
margin-top: 25px;
margin-bottom: 25px;
}

.blog-content {
color: white;
}


.jumbotron {
background-color:rgba(255, 255, 255, 0.00);
margin-top: 25px; 
border-radius: 20px;
}

.display-3 {
color: rgba(5, 30, 250, 1);
text-align: center;
font-family: "Gloria Hallelujah";
font-size: 6em;
text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.35),
    -1px 1px 0 rgba(255, 255, 255, 0.35),
    1px -1px 0 rgba(255, 255, 255, 0.35),
    -1px -1px 0 rgba(255, 255, 255, 0.35),
    0px 1px 0 rgba(255, 255, 255, 0.35),
    0px -1px 0 rgba(255, 255, 255, 0.35),
    -1px 0px 0 rgba(255, 255, 255, 0.35),
    1px 0px 0 rgba(255, 255, 255, 0.35),
    2px 2px 0 rgba(255, 255, 255, 0.35),
    -2px 2px 0 rgba(255, 255, 255, 0.35),
    2px -2px 0 rgba(255, 255, 255, 0.35),
    -2px -2px 0 rgba(255, 255, 255, 0.35),
    0px 2px 0 rgba(255, 255, 255, 0.35),
    0px -2px 0 rgba(255, 255, 255, 0.35),
    -2px 0px 0 rgba(255, 255, 255, 0.35),
    2px 0px 0 rgba(255, 255, 255, 0.35),
    1px 2px 0 rgba(255, 255, 255, 0.35),
    -1px 2px 0 rgba(255, 255, 255, 0.35),
    1px -2px 0 rgba(255, 255, 255, 0.35),
    -1px -2px 0 rgba(255, 255, 255, 0.35),
    2px 1px 0 rgba(255, 255, 255, 0.35),
    -2px 1px 0 rgba(255, 255, 255, 0.35),
    2px -1px 0 rgba(255, 255, 255, 0.35),
    -2px -1px 0 rgba(255, 255, 255, 0.35);
}
.lead {
color: white;
text-align: center;
font-size: 4em;
}
.comment-card > .card {
  margin-top: 15px;
  background-color: rgba(0, 0, 0, 0.75);
}

.comment-name {
  font-weight: 900;
  color: white;
  text-decoration: underline;

}
.comment-content {
color: white;
}

/* Nav links */
.blog-nav {
background-color: rgba(255, 255, 255, 0.35)
}
.nav-link {

  position: relative;
  padding: 1rem;
  font-weight: 900;
  color: white;
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: #fff;
}
.nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}
.navbar-brand {
font-size: 2em;
font-family: 'Courier New';
font-weight: 1000; 
}
.blog-content {
color: white;
text-align: center;
}
.blog-card > .card {

background-color: rgba(0, 0, 0, 0.75);
}
.blog-carousel {
    margin: 0 auto;
}
